# Exclude specific directories to avoid copying downloaded repos
tabrepo/venv/
tabrepo/data/
tabrepo/docs/
tabrepo/examples/

# Common files to ignore
**/__pycache__/
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info/
**/.DS_Store