# Exclude specific directories to avoid copying downloaded repos
tabarena/venv/
tabarena/data/
tabarena/docs/
tabarena/examples/

# Common files to ignore
.git
*.ipynb
**/__pycache__/
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info/
**/.DS_Store